img.userPhoto{
    width: 50px;
    height: 50px;
   border-radius: 50%;
}

button{
    cursor: pointer;
    user-select: none;
    padding: 3px;
    margin: 10px 0;
}

.selectedPage{
    font-weight: bold;
}

.preloader img{
    width: 100px;
    height: auto;
}
